body {
    //font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;

}

/* defines the scrabble board layout */
#scrabbleLayout {
   //width: 456px;
   border: 5px solid black;
   background-color: white;
}

/* defines the basic board square on the scrabble board */
#boardTile {
	height: 30px;
	width: 30px;
    //border-collapse: collapse; /* single border not detached */

}

/* defines a scrabble letter tile that would lay on the board */
#letterTile {
    float: left;
	text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e6cc93;
	height: 30px;
	width: 30px;
	border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: #dec48b #dec48b #b69c63 #dec48b;
}

.btn-calc {
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
}

td {
   border: 2px solid white;
   //border-collapse: collapse;
}

/* these are the board Tile types that denote
 * double word score, triple letter score, etc
 * These tiles are colored differently based on their type
 */
.blank {
   background-color: grey;
}

.tws {
   background-color: red;
}

.dws {
   background-color: pink;
}

.tls {
   background-color: blue;
}

.dls {
   background-color: lightblue;
}
